:root {
    --yellow: #FFEE32;
    --orange: #E87722;
    --brown: #BD5532;
    --light-brown: #F4D1AE;
    --white: #FFF9F0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: auto;
}

.header{
    background-color: var(--orange);
    display: flex;
    flex-direction: row;
    align-items: center;;
}

.header img{
    margin: 20px;
}

.links-header{
    width: 100%;
}

.navbar-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 20px;
    font-family: var(--fonte-principal);
    font-weight: 700;
}

.navbar-header a{
    text-decoration: none;
    color: var(--white);
    font-size: 25px;
}