:root {
    --yellow: #FFEE32;
    --orange: #E87722;
    --brown: #BD5532;
    --light-brown: #F4D1AE;
    --white: #FFF9F0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.header{
    background-color: var(--orange);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
    
}

.header img{
    width: 150px;
}



.navbar-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: var(--fonte-principal);
    font-weight: 700;
    gap: 16rem;
}

.navbar-header a{
    text-decoration: none;
    color: var(--white);
    font-size: 25px;
}