@import url(header.css);
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=League+Spartan:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: brow;
}

:root {
    --yellow: #FFEE32;
    --orange: #E87722;
    --brown: #BD5532;
    --light-brown: #F4D1AE;
    --white: #FFF9F0;
    --fonte-principal: 'Fira Sans', sans-serif;
    --fonte-league: 'League Spartan', sans-serif;
}

.main-content{
    height: 778px;
    background-image: url("../../assets/background-home.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}


.main-content .text-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    height: 100%;
    width: 800px;
    margin-right: 150px;
}

.text-content .main-text{
    font-family: var(--fonte-league);
    font-weight: 700;
    font-size: 4.2rem;
    color: var(--orange);
    width: 100%;
    line-height: 100%;
}

.text-content .sub-text{
    font-family: var(--fonte-principal);
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--brown);
    width: 100%;
    line-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.content-icons{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
    gap: 10px;
    width: 100%;
}

.text-icons{
    font-family: var(--fonte-principal);
    font-weight: 700;
    font-size: 40px;
    color: var(--orange);
    line-height: 100%;
    margin-bottom: 10px;
}

.group-icons{
    width: 60%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}

.group-icons img{
    width: 60px;
    height: 60px;
    cursor: pointer;
}

/*historia da padaria*/
.container-history {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--orange);
}

.text-history {
    max-width: 800px;
}

.text-history h1, p {
     font-family: var(--fonte-principal);
}

.text-history h1 {
    font-size: 4.2rem;
    color: var(--light-brown);
    margin: 3rem 0;
}

.text-history p {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--light-brown);
    margin-bottom: 2rem;
}

.image-history {
    width: 800px;
}

.image-history img {
    width: 100%;
}

/*Catalogo*/
.catalogo {
    padding: 80px 0;
    background-color: var(--brown);
    background-image: url(../../assets/estampabackground.png);
    background-size: cover;
    background-position: center;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalogo-content {
    width: 80%;
    max-width: 1200px;
    text-align: center;
}

.catalogo-content h2 {
    font-family: var(--fonte-league);
    font-weight: 700;
    font-size: 4.2rem;
    color: var(--white);
    margin-bottom: 40px;
    text-align: left;
}

.grupo-produtos {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    margin-bottom: 50px;
}

.produtos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.produtos img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.produtos p {
    font-family: var(--fonte-principal);
    font-weight: 500;
    font-size: 22px;
    color: var(--white);
}

.link-whatsapp {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 30px;
}

.link-whatsapp p {
    font-family: var(--fonte-principal);
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--white);
}

.botao-whatsapp {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    background-color: var(--light-brown);
    color: var(--brown);
    padding: 20px 40px;
    border-radius: 30px;
    transition: background-color 0.3s ease;
    font-family: var(--fonte-principal);
    font-weight: 600;
    font-size: 1.6rem;
}

.botao-whatsapp:hover {
    background-color: var(--orange);
}

.botao-whatsapp img {
    width: 40px;
    height: 40px;
    background-color: transparent;
}

/*Localizacao*/

.conheca {
    background-color: var(--light-brown);
    
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conheca-content h3 {
    font-family: var(--fonte-league);
    font-weight: 700;
    font-size: 4.2rem;
    color: var(--brown);
    margin-bottom: 40px;
    text-align: center;
}

.mapa-informacoes {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    background-color: transparent;
}

.mapa img {
    width: 450px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: var(--fonte-principal);
    color: var(--brown);
    background-color: transparent;
}

.info .cidade {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 10px;
}

.info .endereco-hora {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 400;
}

.info .endereco-hora img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}