@import url(header.css);
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=League+Spartan:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: brow;
}

:root {
    --yellow: #FFEE32;
    --orange: #E87722;
    --brown: #BD5532;
    --light-brown: #F4D1AE;
    --white: #FFF9F0;
    --fonte-principal: 'Fira Sans', sans-serif;
    --fonte-league: 'League Spartan', sans-serif;
}

.main-content{
    display: flex;
    flex-direction: row;
    height: 730px;
}

.main-content img{
    width: 600px;
    height: 730px;
}

.main-content .text-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 100px;
    gap: 20px;
    width: 100%;
    height: 730px;
    z-index: 9;
}

.text-content .main-text{
    font-family: var(--fonte-league);
    font-weight: 700;
    font-size: 60px;
    color: var(--orange);
    width: 500px;
    line-height: 100%;
}

.text-content .sub-text{
    font-family: var(--fonte-principal);
    font-weight: 700;
    font-size: 25px;
    color: var(--brown);
    width: 500px;
    line-height: 100%;
}

.content-icons{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
    gap: 10px;
    width: 100%;
}

.text-icons{
    font-family: var(--fonte-principal);
    font-weight: 700;
    font-size: 40px;
    color: var(--orange);
    line-height: 100%;
    margin-bottom: 10px;
}

.group-icons{
    width: 60%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}

.group-icons img{
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.mask{
    position: absolute;
    width: 100%;
    height: 730px;
    background: linear-gradient(90deg, rgba(142, 122, 101, 0) 0%, #F4D1AE 99.99%);
    z-index: 2;
}